<h2>Add comment:</h2>
<%= form_with model: @comment, url: user_post_comments_path, id: "myForm" , method: :post do |form| %>
  <p>
    <%= form.label :comentext %><br>
    <%= form.text_field :comentext %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  
    <%= form.submit %>
  </p>
<% end %>